<h1>blog</h1>
<br />
<br />
<div id="hiddenresult">
<% for article in articles[0...3] %>
<article class="post">
<header>
<h1><a href="<%= article.path %>"><%= article.title %></a></h1>
<span class="date"><%= article.date %></span>
</header>
<section class="content">
<%= article.summary %>
</section>
<div class="more"><a href="<%= article.path %>">Read some more &rarr;</a></div>
</article>
<% end %>
</div>
<section id="archives">
<%= archives[3..-1] %>
</section>