<h1>The code behind the site:</h1>
<br />
<h2><a href="http://ruby-lang.org">ruby</a> (v1.9.2)</h2>
A brilliant programming language.
<pre><code>rvm install 1.9.2</code></pre>
<h2><a href="http://git-scm.org">git (v1.7.4.1)</a></h2>
Version control
<pre><code>brew install git</code></pre>
<h2><a href="http://heroku.com">heroku</a> (v1.17.16)</h2>
Hosting
<pre><code>gem install heroku</code></pre>
<h2><a href="http://cloudhead.io/toto">toto</a> (v0.4.9)</h2>
Tiny blogging engine
<pre><code>gem install toto</code></pre>
<h2><a href="https://github.com/5v3n/karakuri#readme">karakuri</a> (v0.1.2)</h2>
Adds tagging functionality to toto
<pre><code>gem install karkakuri</code></pre>
<h2><a href="https://github.com/secondplanet/ultraviolet">secondplanet-ultraviolet</a> (v0.10.5)</h2>
A slightly modified version of the ultraviolet syntax highlghter
<pre><code>gem install secondplanet-ultraviolet</code></pre>
<h2><a href="https://github.com/wbzyl/rack-codehoghlighter">rack-codehighlighter</a> (v0.1.1)</h2>
Code highlighter for rack apps
<br />
(Fonts are saxMono, Quattrocento Roman and NotCourierSans)