<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="/css/uv/sunburst.css" type="text/css" media="screen" charset="utf-8" />
<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title><%= title %></title>
<script src="http://platform.twitter.com/anywhere.js?id=VPwh3ImMdrdHjyVS7YUg&amp;v=1"></script>
<script>
twttr.anywhere(function(twitter) {
	twitter.hovercards();
});
</script>
</head>
<body>
<section>
<%= yield %> 
</section>
<footer>
<img src="css/octopus.png" />
All content &copy;2011 Humza Yaqoob. All rights reserved. | From the blog of Second Planet | Powered by the amazingness of <a href="http://cloudhead.io/toto">toto</a>, <a href="http://git-scm.com">git</a>, <a href="http://heroku.com">Heroku</a>, and <a href="/more">more</a> | <a href="/index.xml">RSS</a>
</footer>
</body>
</html>

