<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="/css/uv/sunburst.css" type="text/css" media="screen" charset="utf-8" />
<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title><%= title %></title>
<script src="http://platform.twitter.com/anywhere.js?id=VPwh3ImMdrdHjyVS7YUg&amp;v=1"></script>
<script>
twttr.anywhere(function(twitter) {
	twitter.hovercards();
});
</script>
</head>
<body>
<section>
<%= yield %> 
</section>
<footer>
<hr style="border: 1px solid #000;" />
This blog is powered by <a href="http://cloudhead.io/toto">toto</a>, <a href="http://git-scm.com">git</a>, <a href="http://heroku.com">heroku</a>, and <a href="/more">more</a>!<br>
<a href="https://github.com/Dejital/my-blog">Fork me</a> on <a href="https://github.com/Dejital">GitHub</a>. Also, visit my <a href="http://sergeyk.com">art site</a>.
</footer>
</body>
</html>

